.jumbotron
  %h1 Phizzy! yo
  %p.lead
    Welcome to Phizzy! #{current_user.firstname}
  .row
    .col-lg-6
      %h2
        Your dashboard
      %p
        Your patients and exercises
        %br
      %p
        =link_to 'Check out your dashboard', patient_profiles_path, class: 'btn btn-primary'
    .col-lg-6
      %h2
        Contact us!
      %p
        If you like us, send us an e-mail saying so!
      %p
        =link_to 'Contact us please!!', contact_path, class: 'btn btn-primary'