.jumbotron
  %h1 Phizzy! yo
  %p.lead
    Valar morghulis
  %p
    %a.btn.btn-lg.btn-success
      Sign up today!
  .row
    .col-lg-4
      %h2
        About
      %p
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
      %p
        %a.btn.btn-primary
          About click
    .col-lg-4
      %h2
        About
      %p
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
      %p
        %a.btn.btn-primary
          About click
    .col-lg-4
      %h2
        About
      %p
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet
      %p
        %a.btn.btn-primary
          About click