.jumbotron
  %h1 Phizzy! yo
  %p.lead
    Valar morghulis
  %p
    =link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-success'
  .row
    .col-lg-4
      %h2
        About
      %p
        Great app that makes you feel loved.
        %br/
        And makes you healthy.
        %br/
        Is it not B.E.A.utiful?
        %br
        %br
      %p
        =link_to 'Learn more!', about_path, class: 'btn btn-primary'
    .col-lg-4
      %br
      .carousel.thumbnail.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
        .carousel-inner
          .item.active
            %img{:src => "http://www.patrickgavin.ie/wp-content/uploads/2014/02/therapist.jpg", :alt => ""}/
          .item
            %img{:src => "http://media.cmgdigital.com/shared/lt/lt_cache/thumbnail/960/img/photos/2012/04/01/5b/98/WyattGray-11_370626a.jpg", :alt => ""}/
          .item
            %img{:src => "http://www.procarefitness.com/wp-content/uploads/2012/07/occupational-therapy-273x288.jpg", :alt => ""}/

          %a.left.carousel-control{:href => "#slide-images", :data => {:slide => "prev"}}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{:href => "#slide-images", :data => {:slide => "next"}}
            %span.glyphicon.glyphicon-chevron-right
    .col-lg-4
      %h2
        Contact
      %p
        %br
        Want to send us a word?
        %br/
        Do it right away!
        %br
        %br
        %br
      %p
        =link_to 'Contact us please!!', contact_path, class: 'btn btn-primary'
:javascript
  $('slide-images').carousel();