.jumbotron
  %h1 Contact people behind Phizzy!
  %p.lead
    Tell us how great we are!
    %br/
    Tell us how much you love us!
    %br/
    Tell us how much you adore us!
    %br/
    And give us all your money.
    %br/
    =mail_to 'email@email.com', 'CONTACT US!!!!!!!!!!!!!!'