.container-fluid
  .row
    .col-md-2
    .col-md-8
      - if signed_in?
        %h3 Hello #{current_user.firstname}!
        %p
          and welcome to Phizzy!
      - else
        %h3 Welcome!
        %p
          Welcome to Phizzy!
    .col-md-2