.col-xs-12
  %ul.nav.nav-tabs
    .col-xs-3
      %h3 Profile
      %img{:src => 'http://www.sorrywatch.com/wp-content/uploads/2013/07/talk-to-your-doctor-small.jpg', :alt => 'therapist_image', :title => 'Therapist'}
      = render 'form'
    .col-xs-6
      %h3 Patients
      = render 'patients'
    .col-xs-3
      = render 'exercises'

