.container
  .row
    .col-md-12
      =link_to 'Edit your profile!', edit_user_registration_path
  .row
    .col-md-12
      =link_to 'Add new exercise', '#', class: 'btn btn-primary'
  .row
    .col-md-8
      here goes exercises list/patient list
    .col-md-4