.container
  .row
    .col-md-12
      =link_to 'Edit your profile!', edit_user_registration_path
    .motivational-message  
  .row
    .col-md-8
      %h3 Hello #{patient_profile.full_name}!
      %p
        - if patient_profile.profilable.user.exercises.empty?
          No exercises for today!
        - else
          %p.text-left.para1
            All your exercises:
          %p.text-right.para2
            = link_to 'Download as PDF', patient_profiles_path + '.pdf', class: 'btn btn-success'
          %table.table.table-condensed.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Description
                %th Series
                %th Repetitions
            %tbody
            - patient_profile.profilable.user.exercises.each do |e|
              %tr
                %th=e.name
                %th=e.description
                %th=e.exercise_patients.find_by_exercise_id(e.id).series_count
                %th=e.exercise_patients.find_by_exercise_id(e.id).repetitions
    .col-md-4
      %h3
        %img{:src => 'http://www.sorrywatch.com/wp-content/uploads/2013/07/talk-to-your-doctor-small.jpg', :alt => 'therapist_image', :title => 'Therapist'}
          %br/
          Your
          =link_to 'therapist', '#'
          page!
      %p
        Your therapist is really nice.

