.container
  .row
    .col-md-12
      =link_to 'Edit your profile!', edit_user_registration_path
  .row
    .col-md-8
      %h3 Hello #{patient_profile.firstname + ' '+ patient_profile.lastname}!
      %p
        All your exercises:
        - if patient_profile.profilable.user.exercises.empty?
          No exercises for today!
        - else
          %table.table.table-condensed.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Description
                %th Series
                %th Repetitions
            %tbody
              //# user.profirable.exercises
            - patient_profile.profilable.user.exercises.each do |e|
              %tr
                %th=e.name
                %th=e.description
                %th=e.exercise_patients.find_by_exercise_id(e.id).series_count
                %th=e.exercise_patients.find_by_exercise_id(e.id).repetitions
    .col-md-4
      %h3 the rapist
      %p
        information about therapist
