.container
  .page-header
    %p
      some text
  .row
    .col-md-8
      %h3 Hello #{patient_profile.user.firstname}
      %p
        %table.table.table-condensed.table-bordered
          %thead
            %tr
              %th Name
              %th Description
          %tbody
    //#- each do
    .col-md-4
      informations about therapist