.container
  .row
    .col-md-8
      %h3 Hello #{patient_profile.user.firstname}
      %p
        All your exercises for today.
        %table.table.table-condensed.table-bordered
          %thead
            %tr
              %th Name
              %th Description
          %tbody
    //#- each do
    .col-md-4
      %h3 therapist
      %p
        informations about therapist